spring:
  application:
    name: claim
  datasource:
    url: jdbc:postgresql://localhost:5433/claimdb
    password: postgres
    username: postgres
  cloud:
    function:
      definition: createClaim;createShipment;updateClaim;shipmentUpdate;
    config:
      enable: true
    stream:
      kafka:
        default:
          producer.configuration.key.serializer: org.apache.kafka.common.serialization.StringSerializer
          consumer:
            enableDlq: false
            autoCommitOnError: true
            autoCommitOffset: true
        binder:
          brokers: localhost:9092
          minPartitionCount: 4
          autoAddPartitions: true
          consumerProperties:
            enable.auto.commit: true
            fetch.max.bytes: 62194560
            session.timeout.ms: 15000
          producerProperties:
            retries: 3
            batch.size: 16384
            buffer.memory: 33554432
            linger.ms: 1
      bindings:
        createClaim-in-0:
          destination: create_claim
          content-type: application/json
          group: claim_group
        updateClaim-in-0:
          destination: update_claim
          content-type: application/json
          group: claim_group
        createShipment-out-0:
          destination: create_shipment
          content-type: application/json
        shipmentUpdate-in-0:
          destination: shipment
          content-type: application/json
          group: claim-group
